{{define "footer"}}
  <footer class="page-footer gradient footer-body">
    <div class="container">
      <div class="row center">        
        <h4 class="white-text">Nathaniel Rand</h4>
        <h5 class="grey-text text-lighten-4">Technology Specialist</h5>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      © 2019 - 2020 Copyright Nathaniel Rand
      </div>
    </div>
  </footer>
{{end}}