body {
  background: #e0f2f1;
}

h1, h2, h3, h4, h5, h6, a, p, li {
  font-family: 'Comfortaa', cursive;  
  font-weight: normal;
  color: #00695c;
}

.card {
  border-radius: 11px 33px;
}

.btn {
  border-radius: 5px 15px;
}

.card-action {
  border-radius: 11px 33px !important;
}

/* Custom IDs */

#card-shaped {
  border-radius: 45px 15px;
}

#project-card-image {
  /* margin: 2.5%;  */
  /* width: 95%; */
  border-radius: 10px 30px;    
  border-top: 2px solid #eceff1; 
  width: 100%;
  /* height: auto; */
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10%;
}
