body {
  background: #455a64;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li {
  font-family: "Comfortaa", cursive;
  font-weight: normal;
  color: #00695c;
}

.card {
  border-radius: 11px 33px;
  border: 2.5px solid #546e7a;
  box-shadow: inset 0 0 10px #000000;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000
}

.btn {
  border-radius: 5px 15px;  
  
}

.btn-animation {
  border: solid 2px #b2dfdb;
  transition: border 0.6s linear;  
}

.btn-animation:hover { 
  border-width: 3px;
}

.card-action {
  border-radius: 11px 33px !important;
  box-shadow: inset 0 0 10px #000000;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000
}

.footer-body {
  border-top: 4px solid #546e7a;
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.gradient {
  background: #4ac29a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #80cbc4,
    #4ac29a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #80cbc4,
    #4ac29a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-text {
  background: #80cbc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #bdfff3,
    #80cbc4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #bdfff3,
    #80cbc4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Custom IDs */

#card-home {
  width: 40%;
  margin: 5%;
}

#card-home-button {
  font-size: 1.3rem;
  font-weight: 700;
}

#card-shaped {
  border-radius: 45px 15px;
}

#project-card-image {
  /* margin: 2.5%;  */
  /* width: 95%; */
  border-radius: 10px 30px;
  border-top: 2px solid #eceff1;
  width: 100%;
  /* height: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#project-button {
  font-weight: 600;
  font-size: large;
  margin-top: 15%;
}

#project-link {
  font-size: 1.6rem;
}

#navbar-links {
  font-weight: 600;
  font-size: large;
}

#resume-job-title {
  margin-left: 2.5%;
}

#resume-job-content {
  margin-left: 10%;
}

#sidebar-nav {
  width: 70%;
  margin-left: 15%;
}

#sidebar-text {
  font-size: 1.8rem;
  margin-top: 5%;
  margin-bottom: 10%;
}

#sidebar-image {
  display: inline-block;
  width: 150px;
  height: 175px;
  border-radius: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
  border: 4px #e0f2f1 solid;
}
